<script type="text/javascript">

var game;
var place;
var player;

require(
  [
    'vendor/vue', 'data', 'util', 'game', 'physics', 'ship',
    'component/common',
    'component/card',
    'component/row',
  ],
  function(Vue, data, util, Game, Physics, Ship) {
    game   = Game.game;
    place  = game.place();
    player = game.player;

    const app = new Vue({
      el: '#test',
      data: {
        testDataSection: null,
        testData:        null,
        nominalDeltaV:   0.2,
        explainPrice:    '',
        explainPriceLoc: Game.game.locus,
      },
      computed: {
        resources:     function() { return Object.keys(data.resources) },
        bodies:        function() { return Object.keys(data.bodies) },
        marketLoc:     function() { if (this.explainPriceLoc) return game.place(this.explainPriceLoc) },
        supply:        function() { if (this.explainPrice) return this.marketLoc.supply(this.explainPrice) },
        demand:        function() { if (this.explainPrice) return this.marketLoc.demand(this.explainPrice) },
        basePrice:     function() { if (this.explainPrice) return this.marketLoc.calculatePrice(this.explainPrice) },
        scarcity:      function() { if (this.explainPrice) return this.marketLoc.scarcityMarkup(this.explainPrice) },
        distanceMalus: function() { if (this.explainPrice) return this.marketLoc.distancePriceMalus(this.explainPrice) },
        adjustment:    function() { if (this.explainPrice) return this.marketLoc.adjustment(this.explainPrice) },
        nearestSource: function() { if (this.explainPrice) return this.marketLoc.nearestSource(this.explainPrice) },
        cachedPrice:   function() { if (this.explainPrice) return this.marketLoc.prices[this.explainPrice] },
        localNeed:     function() { if (this.explainPrice) return this.marketLoc.local_need(this.explainPrice) },
        systemNeed:    function() { if (this.explainPrice) return game.system_need(this.explainPrice) },
      },
      methods: {
        logGame:   function()  { console.log(game) },
        gameTurns: function(n) { game.turn(n); console.log(n, 'turns complete'); },

        shipRange: function(ship, maxDeltaV) {
          const dv = maxDeltaV ? (maxDeltaV * Physics.G) : ship.currentAcceleration();
          const bn = ship.maxBurnTime(dv) * data.hours_per_turn;
          const au = Physics.range(bn * 3600, 0, dv) / Physics.AU;
          return {
            mass:   util.R(ship.currentMass()),
            deltav: util.R(dv / Physics.G, 2),
            burn:   util.R(bn, 2),
            dist:   util.R(au, 2),
          };
        },

        shipMaxRanges: function() {
          this.testDataSection = 'shipMaxRanges';
          this.testData = {};

          for (const sc of Object.keys(data.shipclass)) {
            this.testData[sc] = {};
            const ship = new Ship({shipclass: sc, fuel: data.shipclass[sc].tank});
            this.testData[sc].nominal = this.shipRange(ship);
            ship.loadCargo('ore', ship.cargoSpace);
            this.testData[sc].loaded = this.shipRange(ship);
          }
        },

        shipRanges: function() {
          this.testDataSection = 'shipRanges';
          this.testData = {};

          for (const sc of Object.keys(data.shipclass)) {
            this.testData[sc] = {};
            const ship = new Ship({shipclass: sc, fuel: data.shipclass[sc].tank});
            this.testData[sc].nominal = this.shipRange(ship, this.nominalDeltaV);
            ship.loadCargo('ore', ship.cargoSpace);
            this.testData[sc].loaded = this.shipRange(ship, this.nominalDeltaV);
          }
        },
      },
      template: `
<card title="Testing">
  <btn @click="logGame" block=1>console.log(game)</btn>
  <btn @click="gameTurns(10)" block=1>10 turns</btn>
  <btn @click="gameTurns(100)" block=1>100 turns</btn>
  <btn @click="gameTurns(500)" block=1>500 turns</btn>
  <btn @click="shipMaxRanges" block=1>Ship ranges at max delta-v</btn>
  <btn @click="shipRanges" block=1>Ship ranges at {{nominalDeltaV}} G</btn>

  <div class="my-3 input-group">
    <h4 class="mx-1">Price</h4>

    <select v-model="explainPriceLoc" class="form-control mx-1">
      <option value="">Location</option>
      <option v-for="body in bodies" :key="body" :value="body">{{body|caps}}</option>
    </select>

    <select v-model="explainPrice" class="form-control mx-1">
      <option value="">Resource</option>
      <option v-for="item in resources" :key="item" :value="item">{{item|caps}}</option>
    </select>
  </div>

  <table class="table" v-if="explainPrice">
    <tbody>
      <tr><th>Supply</th><td>{{supply|R(4)}}</td></tr>
      <tr><th>Demand</th><td>{{demand|R(4)}}</td></tr>
      <tr><th>Local demand</th><td>{{localNeed|R(4)}}</td></tr>
      <tr><th>System demand</th><td>{{systemNeed|R(4)}}</td></tr>
      <tr><th>Scarcity</th><td>{{scarcity|R(4)}}</td></tr>

      <tr>
        <th>Nearest source</th>
        <td v-if="nearestSource[0]">{{nearestSource[0]|caps}} ({{nearestSource[1]|AU|R(2)|unit('AU')}})</td>
        <td v-else>None</td>
      </tr>

      <tr><th>Distance malus</th><td>{{distanceMalus|R(4)}}</td></tr>
      <tr><th>Adjustment</th><td>{{adjustment|R(4)}}</td></tr>
      <tr><th>Base value</th><td>{{basePrice|csn}}</td></tr>
      <tr><th>Cached price</th><td>{{cachedPrice|csn}}</td></tr>
    </tbody>
  </table>

  <card v-if="testDataSection == 'shipMaxRanges'" title="Ship ranges (max G)" class="my-2">
    <card v-for="(data, sc) of this.testData" :key="sc" :title="sc|caps" class="my-2">
      <def y=0 split=2 term="Nominal" :def="data.nominal" />
      <def y=0 split=2 term="Loaded" :def="data.loaded" />
    </card>
  </card>

  <card v-if="testDataSection == 'shipRanges'" :title="'Ship ranges (' + nominalDeltaV + 'G)'" class="my-2">
    <card v-for="(data, sc) of this.testData" :key="sc" :title="sc|caps" class="my-2">
      <def y=0 split=2 term="Nominal" :def="data.nominal" />
      <def y=0 split=2 term="Loaded" :def="data.loaded" />
    </card>
  </card>
</card>
      `,
    });
  }
);

</script>

<div id="test"></div>
