body {
  padding-bottom: 70px;
  background-color: rgb(0, 0, 0);
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  color: #ddd;
  line-height: 1.5;
}

.bg-black {
  background-color: rgb(0,0,0) !important;
}

.spacer-header {
  font-size: 0.8rem;
  background-color: rgb(0,0,0);
}

.spacer-header .navbar-text {
  color: rgb(200, 140, 50);
}

.card {
  border: 1px solid rgb(139,0,0);
  background-color: rgb(0,0,0);
}

.card-header {
  border-bottom: 1px solid rgb(139,0,0);
}

.card-header button {
  float: right;
}

.modal-content {
  background-color: rgb(0,0,0);
  border: 2px solid #666;
}

.modal-content div {
  border-color: rgb(139,0,0);
}

.modal-fullscreen .modal-dialog {
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.modal-fullscreen .modal-content {
  border: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#spacer-navbar {
  background-color: #000;
  font-size: 1.1rem;
}

table.table td, table.table th {
  border: 0px;
}

table.table-bordered {
  border: 0px;
}

table.table-bordered td, table.table-bordered th {
  border-top: 1px solid rgb(139,0,0);
}

.btn-dark {
  background-color: #202020;
  border-bottom: 1px solid rgb(139,0,0);
}

.btn-dark:hover:not(.disabled), button.btn-dark:hover:not(:disabled) {
  background-color: #303030;
  border-bottom: 1px solid rgb(200,0,0);
}

.btn-dark.disabled, button.btn-dark:disabled {
  background-color: #101010;
}

.btn-secondary {
  background-color: #202020;
  border: 1px solid #202020;
  border-bottom: 1px solid rgb(0,0,0);
}

.btn-secondary:hover {
  background-color: #303030;
  border: 1px solid #202020;
  border-bottom: 1px solid rgb(10,10,10);
}

.btn-secondary:disabled {
  background-color: #202020;
  color: #888;
}

.badge {
  border: 1px solid rgb(129,0,0);
  background-color: #101010;
  color: rgb(200, 140, 50) !important;
  font-size: 12px;
}

.plot-root {
  background-color: #000;
  /*border: 1px solid rgb(139,0,0);*/
}

.plot-point {
  font-size: 1.7em;
  line-height: 0.6 !important;
  padding: 1px 2px;
  vertical-align: middle;
  position: absolute;
}

.plot-point:hover {
  text-decoration: none !important;
  color: white;
}

ul.plot-selected {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.b {
  font-weight: bold !important;
}

.mute, .text-muted {
  color: #ccc !important;
}

input[type=range] {
  height: 47px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #A10000;
  background: #5F656E;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 5px #A10000;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 14px;
  background: #D4D4D4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #5F656E;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #A10000;
  background: #5F656E;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 5px #A10000;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 14px;
  background: #D4D4D4;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #5F656E;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #A10000;
}
input[type=range]::-ms-fill-upper {
  background: #5F656E;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #A10000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 5px #A10000;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 14px;
  background: #D4D4D4;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #5F656E;
}
input[type=range]:focus::-ms-fill-upper {
  background: #5F656E;
}
