body {
  padding-bottom: 70px;
  background-color: rgb(0, 0, 0);
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  color: #ddd;
  line-height: 1.25;
  font-size: 0.9rem;
}

.mini {
  font-size: 0.85rem;
}

.text-muted, .mute {
  color: #aaa !important;
}

.bg-black {
  background-color: rgb(0,0,0) !important;
}

.spacer-header {
  font-size: 0.8rem;
  background-color: rgb(0,0,0);
}

.spacer-header .navbar-text {
  color: rgb(200, 140, 50);
}

.card {
  border: 1px solid rgb(139,0,0);
  background-color: rgb(0,0,0);
}

.card-header {
  border-bottom: 1px solid rgb(139,0,0);
}

.card-header button {
  float: right;
}

.modal-content {
  background-color: rgb(0,0,0);
  border: 2px solid #666;
}

.modal-content div {
  border-color: rgb(139,0,0);
}

.modal-fullscreen .modal-dialog {
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.modal-fullscreen .modal-content {
  border: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#spacer-navbar {
  background-color: #000;
}

.table.table-noborder td, .table.table-noborder th {
  border-top: 0px;
}

.table.table-mini td, .table.table-mini th {
  padding: 0.1rem;
}

.table td, .table th {
  border-top: 1px solid rgb(139,0,0);
}

.table thead th {
  border-bottom: 2px solid rgb(139,0,0);
}

.btn-dark {
  background-color: #202020;
  border-bottom: 1px solid rgb(139,0,0);
}

.btn-dark:hover:not([disabled]), button.btn-dark:hover:not([disabled]) {
  background-color: #303030;
  border-bottom: 1px solid rgb(200,0,0);
}

.btn-dark.disabled, button.btn-dark:disabled {
  background-color: #101010;
}

.btn-secondary {
  background-color: #202020;
  border: 1px solid #202020;
  border-bottom: 1px solid rgb(0,0,0);
}

.btn-secondary:hover {
  background-color: #303030;
  border: 1px solid #202020;
  border-bottom: 1px solid rgb(10,10,10);
}

.btn-secondary:disabled, .text-muted.btn-secondary {
  background-color: #202020;
  color: #888;
}

.badge {
  border: 1px solid rgb(129,0,0);
  background-color: #101010;
  color: rgb(200, 140, 50) !important;
  font-size: 12px;
}

.plot-controls {
  background-color: #000;
  border: 1px solid rgb(139,0,0);
}

.plot-root {
  background-color: #000;
  /*border: 1px solid rgb(139,0,0);*/
  overflow: hidden;
  position: relative;
  padding: 0px !important;
  margin: 0px !important;
}

.plot-point {
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.plot-point span:not(.badge) {
  font-size: 0.05rem;
}

.dest {
  background-color: black !important;
  border-color: red !important;
  color: white !important;
}

.plot-point.big {
  font-size: 30px;
}

.plot-point.huge {
  font-size: 60px;
}

.plot-point:hover {
  text-decoration: none !important;
  color: white;
}

img.plot-image {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul.plot-selected {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.b {
  font-weight: bold !important;
}

.warn {
  color: rgb(200, 140, 50) !important;
}

/*
 * http://www.cssportal.com/style-input-range/
 */
input[type=range] {
  -webkit-appearance: none;
  padding: 0;
  width:   100%;
  border:  0px;
  background-color: transparent !important;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #8A8A8A;
  border:     1px solid rgb(0,0,0);
  height:     31px;
  width:      14px;
  margin-top: -12px;
}

input[type=range]::-webkit-slider-runnable-track {
  background:    #000000;
  border:        0px;
  border-top:    1px solid rgb(52,58,64);
  border-bottom: 1px solid rgb(139,0,0);
  height:        10px;
  width:         100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .35s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
